.container {
    grid-area: subred;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.tendencies {
    overflow: hidden;
    padding: 0 2%;
    flex: 1 1 20%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    min-width: 200px;
    margin: 5px;
}

.tendencies figure img {
    width: 250px;
    height: auto;
    overflow: hidden;
    border-radius: 10px 10px 0 0;
}

@media only screen and (max-width: 900px) {
    .tendencies {
        height: 300px;
    }
}