@import url('./fontsNreset.css');
@import url('./Static/animation/animation.css');

.App {
  display: grid;
  min-height: 800px;
  width: 90vmax;
  margin: 0 auto;
  gap: 3vmin;
  grid-template: 150px 150px auto auto 100px 1fr 100px / repeat(8, 1fr);
  grid-template-areas: "logo nav nav nav nav nav nav sign"
                       "header header header header header header header header"
                       "search search search search search search search search"
                       "subred subred subred subred subred subred subred subred"
                       "subhead subhead subhead subhead subhead subhead subhead subhead"
                       "reddit reddit reddit reddit reddit reddit reddit reddit"
                       "footer footer footer footer footer footer footer footer";

}

.headtype {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column
}

.header {
  grid-area: header;
}
.subhead {
  grid-area: subhead;
}

.footer {
  grid-area: footer;
  display: flex;
  align-items: center;
}

.subred2 {
  display: grid;
  flex-direction: column;
  grid-area: subred;
  grid-template-areas: "div1"
                       "div2";
}
.subred2 div {
  grid-area: div2;
}

.highlight {
  background-color: aquamarine;
  grid-area: div1;
}

.loading {
	-webkit-animation: rotate-scale-up 0.65s linear 0.65s infinite both;
          animation: rotate-scale-up 0.65s linear 0.65s infinite both;
  margin: 40px 0;
}

@media only screen and (max-width: 900px) and (min-width: 500px) {
  .App {
    grid-template: 150px 200px auto auto auto 100px 4fr 100px / repeat(8, 1fr);
    grid-template-areas:"logo nav nav nav nav nav nav sign"
                        "header header header header header header header header"
                        "search search search search search search search search" 
                        "search search search search search search search search"
                        "subred subred subred subred subred subred subred subred" 
                        "subred subred subred subred subred subred subred subred"
                        "subhead subhead subhead subhead subhead subhead subhead subhead"
                        "reddit reddit reddit reddit reddit reddit reddit reddit"
                        "footer footer footer footer footer footer footer footer";
  }
 }

@media only screen and (orientation: portrait) {
  .App {
    gap: 0;
    width: 100%;
  }
 }

@media only screen and (max-width: 500px) {
  .App {
    grid-template: 150px 150px auto auto 100px 1fr 100px / 1fr 6fr 3fr;
    grid-template-areas:"logo nav sign"
                        "header header header"
                        "search search search" 
                        "subred subred subred" 
                        "subhead subhead subhead"
                        "reddit reddit reddit"
                        "footer footer footer";
  }
 }